@font-face {
    font-family: 'Noto Sans KR';
    src: url('/assets/app/fonts/NotoSansKR-Thin.woff2') format('woff2'), 
        url('/assets/app/fonts/NotoSansKR-Thin.woff') format('woff'),
        url('/assets/app/fonts/NotoSansKR-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('/assets/app/fonts/NotoSansKR-Light.woff2') format('woff2'), 
        url('/assets/app/fonts/NotoSansKR-Light.woff') format('woff'),
        url('/assets/app/fonts/NotoSansKR-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('/assets/app/fonts/NotoSansKR-DemiLight.woff2') format('woff2'), 
        url('/assets/app/fonts/NotoSansKR-DemiLight.woff') format('woff'),
        url('/assets/app/fonts/NotoSansKR-DemiLight.ttf') format('truetype');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('/assets/app/fonts/NotoSansKR-Regular.woff2') format('woff2'), 
        url('/assets/app/fonts/NotoSansKR-Regular.woff') format('woff'),
        url('/assets/app/fonts/NotoSansKR-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('/assets/app/fonts/NotoSansKR-Medium.woff2') format('woff2'), 
        url('/assets/app/fonts/NotoSansKR-Medium.woff') format('woff'),
        url('/assets/app/fonts/NotoSansKR-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('/assets/app/fonts/NotoSansKR-Bold.woff2') format('woff2'), 
        url('/assets/app/fonts/NotoSansKR-Bold.woff') format('woff'),
        url('/assets/app/fonts/NotoSansKR-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('/assets/app/fonts/NotoSansKR-Black.woff2') format('woff2'), 
        url('/assets/app/fonts/NotoSansKR-Black.woff') format('woff'),
        url('/assets/app/fonts/NotoSansKR-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
