* {
	margin:0; 
	padding:0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;font-family: var(--font-family);letter-spacing: -0.3px; line-height:normal;vertical-align:baseline;word-break:keep-all;word-wrap:break-word;-ms-overflow-style:scrollbar;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block}
select::-ms-expand{display: none;}

/* input type=number 카운트 화살표 비노출 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  	display: none; 
}

body {color:var(--c-basic);background-color:transparent;-webkit-text-size-adjust:none;}
img {border:0px;display:block;}
a {color:inherit;text-decoration:none;outline-style:none;cursor: pointer;}
a:hover {text-decoration:none;outline-style:none;}
a:focus, a:active, a:visited {text-decoration:none;outline:none;outline-offset:0;outline-style:none;}
a:focus, button:focus {outline: none;}

table {table-layout:fixed;}
ul,ol {margin:0 auto;padding:0;list-style:none}
input,textarea,select {letter-spacing: 0;border:0;outline-style:none;border-radius: 0;}
caption,legend, label.hidden {text-indent: -9999px;overflow:hidden; width:0;height:0;font-size:0;line-height:0;}
.hidden {position:absolute;left:-9999px;font-size:0;line-height:0;overflow:hidden;}
button {font-family: var(--font-family);font-weight: 400;font-size: 18px;color: var(--c-basic);text-align: left;background:none;border:0;cursor:pointer;outline-style:none;overflow:visible;}
button>span {position:relative;outline-style:none;}
em {font-style:normal;}
label {cursor: pointer;}
textarea {resize: none; -webkit-appearance: none;}

a, a>span, button, button>span {letter-spacing: 0px;}

::-webkit-input-placeholder {
	font-weight: 400 !important;
	color: val(--c-placeholder) !important;
}
::-moz-placeholder {
	font-weight: 400 !important;
	color: val(--c-placeholder) !important;
}
:-ms-input-placeholder {
	font-weight: 400 !important;
	color: val(--c-placeholder) !important;
}
:-moz-placeholder {
	font-weight: 400 !important;
	color: val(--c-placeholder) !important;
}
input {
	appearance: none;
}

/* ie에서 텍스트 삭제버튼 가리기 */
input::-ms-clear {
	display: none;
}
/* 크롬 자동완성에서 선택시 background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

select {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	*background-image:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	border-radius:0;
	-webkit-border-radius:0;
	background: transparent;
}

input[type=checkbox] {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
input[type=checkbox] + label {
	display: inline-block;
	background-image: none;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type=radio] {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin:- 1px;
	padding: 0;
	border: 0;
}
input[type=radio] + label {
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
